<div class="page-header">
  <h3>
    <a href="{{ post.link }}" ng-show="post.link">{{ post.title }}</a>
    <span ng-hide="post.link">{{ post.title }}</span>
  </h3>
</div>

<div ng-repeat="comment in post.comments | orderBy: '-upvotes'" class="comments">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
  {{ comment.upvotes }} - by {{ comment.author }}
  <span>
    {{ comment.body }}
  </span>
</div>

<form ng-submit="addComment()">
<h3>Add a new comment</h3>

<div class="form-group">
  <input type="text" class="form-control" placeholder="Comment" ng-model="body"/>
</div>
<button type="submit" class="btn btn-primary">Post</button>
</form>
